<ion-content [fullscreen]="true">

  <div class="container" style="border: 2px solid #000; border-radius: 10px; padding: 20px;">
    <ion-row class="ion-align-items-center ion-justify-content-center">
      <ion-img src="./assets/TeLlevo.png" style="width:50%" />
    </ion-row>
    <br>
    <ion-title>Mi viaje es tu viaje</ion-title>
    <ion-fab vertical="bottom" horizontal="end" style="margin: 30px;">
    <br>

      <ion-fab-button [routerLink]="['/login']">
        <ion-icon name="chevron-forward"></ion-icon>
      </ion-fab-button>

    </ion-fab>
  </div>
</ion-content>
