<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>history</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">history</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-fab horizontal="end" style="margin: 30px;">
    <br>

      <ion-fab-button [routerLink]="(['/home'])">
        <ion-icon name="chevron-forward"></ion-icon>
      </ion-fab-button>

  </ion-fab>
</ion-content>
